.category-button {
  height: 10vh;
  font-size: 3vh;
  flex-grow: 1;
  min-width: 30%;
}

.category-setup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50vh;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}

.timer-setup {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.timer-toggle {
  height: 10vh;
  font-size: 3vh;
  min-width: 30%
}

.timer-range-container-mobile {
  transform: scale(3)
}