.mobile-grid {
  display: grid;
  grid-template-rows: 65vh 10vh 15vh;
  grid-template-columns:auto;
  padding: 5px;
}

.row {
  border: 1px solid black;
}

.start-btn {
  height: 10vh;
  width: 75%;
  font-size: 2vh;
}

.start {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.display-toggle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.display-toggle-btn {
  height: 15vh;
  width: 25%;
  font-size: 2vh;
}

.category-display {
  display: flex;
  flex-direction: column;
}
.category-button {
  height: 10vh;
  font-size: 2vh;
  flex-grow: 1;
  min-width: 30%;
}

.timer-setup {
    row-gap: 30px;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.timer-toggle {
  height: 10vh;
  font-size: 2vh;
  min-width: 30%
}

.timer-range-container {
  transform: scale(3)
}


.category-setup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 50vh;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}